// Docs

@import "base/reset";
@import "base/variables";
@import "base/colors";
@import "base/print";
@import "base/text";
@import "base/utils";
@import "base/badges";
@import "base/button";
@import "base/flash";
@import "base/fonts";
@import "base/form";
@import "base/grid";
@import "base/grid-mobile";
@import "base/grid-tablet";
@import "base/layout";
@import "base/tables";

.header {
  background-color: $onyx;
  color: $white;
  padding: 50px 0;

  .logo {
    display: inline-block;
    background-image: url('../images/logo-white.png');
    width: 282px;
    height: 49px;
    text-decoration: none;
  }

  .description a {
    color: lighten($blue, 10%);
  }
}

.nav {
  margin-bottom: 40px;

  ul {
    float: right;
    @extend %unstyled;
    line-height: 49px;

    li {
      text-transform: uppercase;
      font-size: $font-small;
      font-weight: bold;
      display: inline-block;
      margin-left: 25px;

      a {
        color: $white;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.body {
  section {
    padding: 40px 0;

    &.inverse {
      background-color: $smoke;
    }
  }

  .toc {
    li {
      margin-bottom: 7px;
    }
  }

  .subtitle {
    position: relative;
    text-transform: uppercase;
    font-size: $font-medium;
    border-bottom: 2px solid $silver;
    padding-bottom: 2px;
    margin-bottom: 25px;

    a {
      color: $charcoal;
      text-decoration: none;


      &:hover {
        &:before {
          content: '\00023';
          position: absolute;
          left: -15px;
        }
      }
    }
  }
}

.footer {
  background-color: $onyx;
  padding: 40px 0;

  a {
    color: $smoke;
  }

  p {
    font-size: $font-small;
    margin: 0;
    color: $stone;
  }
}
