// Docs

@import "base/reset";
@import "base/variables";
@import "base/colors";
@import "base/print";
@import "base/text";
@import "base/utils";
@import "base/badges";
@import "base/button";
@import "base/flash";
@import "base/fonts";
@import "base/form";
@import "base/grid";
@import "base/grid-mobile";
@import "base/grid-tablet";
@import "base/layout";
@import "base/tables";

.header {
  background-color: $onyx;
  color: $white;
  padding: 50px 0;

  .logo {
    display: inline-block;
    background-image: url('../images/logo-white.png');
    background-size: 100%;
    width: 248px;
    height: 63px;
    text-decoration: none;
  }

  .description a {
    color: lighten($blue, 15%);
  }
}

@include when-retina {
  .header .logo {
    background-image: url('../images/logo-white@2x.png');
  }
}

.nav {
  margin-bottom: 40px;
  @include clearfix;

  .menu {
    @extend %unstyled;
    text-align: right;
    line-height: 63px;

    li {
      text-transform: uppercase;
      font-size: $font-small;
      font-weight: bold;
      display: inline-block;
      margin-left: 25px;

      a {
        color: $white;
        text-decoration: none;
        padding-bottom: 5px;

        &:hover {
          border-bottom: 1px solid $white;
        }
      }
    }
  }
}

.body {
  section {
    padding: 40px 0;

    &.inverse {
      background-color: $smoke;
    }
  }

  .toc {
    li {
      margin-bottom: 7px;
    }
  }

  .subtitle {
    position: relative;
    text-transform: uppercase;
    font-size: $font-medium;
    border-bottom: 2px solid $silver;
    padding-bottom: 2px;
    margin-bottom: 25px;

    a {
      color: $charcoal;
      text-decoration: none;


      &:hover {
        &:before {
          content: '\00023';
          position: absolute;
          left: -15px;
        }
      }
    }
  }
}

.example-grid {
  margin-bottom: 15px;

  .col {
    background-color: $silver;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $font-tiny;
    white-space: nowrap;

    &:first-child {
      background-color: $smoke;
    }
  }

  & > div {
    @include clearfix;
    margin-bottom: 5px;
  }
}

.footer {
  background-color: $onyx;
  padding: 40px 0;

  a {
    color: $smoke;
  }

  p {
    font-size: $font-small;
    margin: 0;
    color: $stone;
  }
}

@include when-mobile {
  .header {
    text-align: center;
  }

  .nav .menu {
    text-align: center;
    li {
      margin: 0 15px;
    }
  }

  #buttons .btn {
    display: block;
    margin-bottom: 7px;
  }
}
