// Colors

// Primary colors
$blue:            #0071C5;
$charcoal:        #4B4B4B;
$smoke:           #F0F0F0;
$white:           #FFFFFF;

// Secondary colors
$blue-secondary:  #0064C8;
$sky:             #7ED3F7;
$onyx:            #282828;
$stone:           #6E6E6E;
$slate:           #A0A0A0;
$silver:          #C8C8C8;

// Misc UI Colors
$blue-other:      #69C2E7;
$teal:            #73BCAD;
$green:           #73CE8C;
$lime:            #CAE689;
$yellow:          #F7CC41;
$orange:          #FF7035;
$red:             #F2423A;
$pink:            #F1325A;
