// Colors

// Primary
$blue:            #0073E6;
$green:           #73CE8C;
$yellow:          #F7CC41;
$orange:          #FF7035;
$red:             #F2423A;

// Secondary
$pink:            #F1325A;
$teal:            #73BCAD;
$lime:            #CAE689;
$periwinkle:      #69C2E7;

// Greyscale
$black:           #000000;
$onyx:            #282828;
$charcoal:        #4B4B4B;
$stone:           #6E6E6E;
$slate:           #A0A0A0;
$silver:          #C8C8C8;
$smoke:           #F0F0F0;
$white:           #FFFFFF;
