.table {
  $border-color: darken($smoke, 2%);
  $header-background: lighten($border-color, 2%);
  $striped-background: lighten($border-color, 5%);
  width: 100%;
  margin-bottom: 20px;

  &.center {
    th, td {
      text-align: center;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    background-color: $header-background;
    white-space: nowrap;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }

  td {
    border-bottom: 1px solid $border-color;
  }

  td, th {
    padding: 15px 15px;
  }

  &.table-bordered {
    th, td {
      border-radius: 0 !important;

      &:first-child {
        border-left: 1px solid $border-color;
      }

      &:last-child {
        border-right: 1px solid $border-color;
      }
    }
  }

  &.table-striped {
    tr:nth-child(2n+1) td {
      background-color: $striped-background;
    }
  }
}
