@mixin clearfix {
  zoom: 1;

  &:before, &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

@mixin when-mobile {
  @media only screen and
  (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin when-tablet {
  @media only screen and
  (min-width: $tablet-breakpoint) and
  (max-width: $desktop-breakpoint - 1px) {
    @content;
  }
}

@mixin when-retina {
  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    @content;
  }
}

.hidden {
  display: none;
}

// Align
.center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

// Float
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-float {
  float: none;
}
