// Basic UI element sizing
$border-radius: 3px;
$line-height-default: 1.5;
$line-height-titles: 1.25;
$form-element-height: 50px;
$form-element-height-small: 32px;

// Fonts
$font-base: Helvetica, Arial, sans;
$font-serif: Georgia, serif;
$font-mono: Monaco, sans;

$font-tiny: 12px;
$font-small: 13px;
$font-medium: 15px;
$font-large: 18px;
$font-xlarge: 24px;
$font-xxlarge: 34px;

// Grid system
$grid-column-gutter: 15px;
$grid-column-width: 82px;

$mobile-container:  100%;
$tablet-container:  720px;
$desktop-container: ($grid-column-width * 12) + ($grid-column-gutter * 2);

$mobile-breakpoint:  ($tablet-container + 19px);
$tablet-breakpoint:  ($tablet-container + 20px);
$desktop-breakpoint: ($desktop-container);

// Z-Index Scale
$z-index-1:   100;
$z-index-2:   200;
$z-index-3:   300;
$z-index-4:   400;
$z-index-5:   500;
$z-index-6:   600;
$z-index-7:   700;
$z-index-8:   800;
$z-index-9:   900;
$z-index-10: 1000;
